.biscoito-corpo {
    height: 100vh;
    display: flex;
    align-items: center;
}

h1 {
    font-family: 'Ma Shan Zheng';
    font-size: 5.0rem;
    color: #ffca62;
}

h3{
    font-family: 'Ma Shan Zheng';
    font-size: 3.0rem;
    color: #ffca62;
}

.botao {
    font-family: 'Ma Shan Zheng';
    font-size: 2rem;
    border: none;
    background-color: #ffca62;
    border-radius: 10px;
    padding: 10px 30px;
    color: #bf122d;
    outline: none;
    border: 1px solid #ffca62;
    transition: all ease .5s;
}
.botao:hover {
    transition: all ease .5s;
    background-color: #bf122d;
    border: 1px solid #ffca62;
    color: #ffca62;
}